@import '../../mixins/margin.scss';
@import '../../mixins/padding.scss';
@import '../../mixins/color.scss';

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main-contents {
  margin: $margin-mvw
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.rewards {
  color: $color-yellow;
  padding: $padding-mvw;
}

.link {
  color:skyblue;
  cursor: pointer;
  border-bottom: solid 1px skyblue;
  &:hover {
    color: white;
    border-bottom: solid 1px white;
  }
}