.interactive-space-wood {
  position: absolute;
  z-index: 1;
  top: 200px;
  left: 200px;
}

.table {
  width: 60vw;
  left: auto;
  right: 0 ;
}

.sql-mode {
  left: auto;
  top: auto;
  right: 0 ;
  bottom: 270px;
}