.mission-desc {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.dog-comment {
  position: absolute;
  top: 30%;
  right: 0;
}

.human-comment {
  position: absolute;
  top: 0;
  left: 0;
}