@import '../../mixins/margin.scss';

.description {
  text-align: center;
  width: 100%;
  margin: $margin-lvw;
}

.btn {
  margin: auto;
}

.toptext {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
}
