@import '../../styles/mixins/color.scss';
.index {
  background: $color-top-back;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}