@import '../../mixins/color.scss';

.paper {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10%;
}

.text {
  text-align: center;
  width: 100%;
}