@import '../../mixins/color.scss';

.locked {
  background-color: gray;
}

.available {
  cursor: pointer;
  background-color: $color-yellow;
  &:hover {
    background-color: $color-orange;
  }
}

.completed {
  cursor: pointer;
  background-color: $color-orange;
}

.selected {
  border: solid 5px orange;
}