$color-front: #0a0e50;
$color-top: #5b5fa5;
$color-side: #2f337d;
$color-yellow: #ecd37e;
$color-yellow-trans: rgba(236, 211, 126, 0.5);
$color-pink: #d439a0;
$color-shadow: rgba(0, 0, 0, 0.5);
$color-orange: #ff6b00;
$color-white: #ffffff;
$color-title-gradient: linear-gradient(162deg, #65ffda 0%, #ffad32 100%);
$color-top-back: linear-gradient(180deg, #aaaaaa 0%, #171235 100%);
$color-home-back: linear-gradient(90deg, #0a0e50 0%, #040626 100%);
